* {
    margin: 0;
    padding: 0;
}

body {
    background: teal;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: blue;
    border-bottom: 5px solid sandybrown;
    padding: 20px 50px;
}

header a {
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: red;
}

a.hover {
    text-decoration: underline;
}

.container {
    padding: 20px 50px;
    color: gold;
}
 .div {
     display: flex;
 }

.posts {
    width: 500px;
    margin-top: 50px;
    padding: 20px;
    border-radius: 5px;
    background: greenyellow;
    color: blue;
    border-bottom: 10px solid sienna;
}

.posts h2 {
    margin-bottom: 20px;
}

.posts p {
    margin-bottom: 10px;
}

.posts a {
    color: red;
}

.films {
    width: 500px;
    margin-top: 50px;
    padding: 20px;
    border-radius: 5px;
    background: aquamarine;
    color: blue;
    border-bottom: 10px solid sienna;
}